<div class="signup-container">
  <div class="signup-card">
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSignup()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          type="text"
          [(ngModel)]="username"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          [(ngModel)]="password"
          required
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          name="confirmPassword"
          type="password"
          [(ngModel)]="confirmPassword"
          required
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div class="signup-link">
        <p> Have an account? <a routerLink="/login"> Sign in here</a></p> 
       </div>
    </form>
  </div>
</div>